/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios
            = <&gpioa 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpioa 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpioa 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpioa 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;

        row-gpios
            = <&gpioa 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpioa 1  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};