/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios
            = <&gpiob 5 GPIO_ACTIVE_HIGH>
            , <&gpiob 6 GPIO_ACTIVE_HIGH>
            , <&gpiob 7 GPIO_ACTIVE_HIGH>
            , <&gpiob 8 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&gpiob 3  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpiob 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};